.place-selection {
    background-color: darken($colour-lightgrey, 5%);
    /*    align-items: center;
    justify-content: center; */
}

.place-select {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6rem;
    box-shadow: 0 0.4rem 0.4rem darken($colour-lightgrey, 10%) inset;
    color: black;
    font-weight: 700;
    font-size: 2.0rem;
    align-items: center;
    justify-content: center;

    &__icon {
        border: none;
        background-color: inherit;
    }

    &__input {
        margin-left: 1.0rem;
        border: none;
        background-color: inherit;
        width: auto;
        color: black;
        font-size: 2.0rem;
        font-weight: bold;
    }
}

.search {
    background-color: $colour-lightgrey;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 7.0rem;

    &-title {
        margin-top: 4.0rem;
        text-align: center;
        justify-content: center;

        &__t {
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 3.7rem;
            margin-bottom: 2.0rem;
        }

        &__p {
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 2.5rem;
            color: #333;
            margin-bottom: 4.0rem;
        }
    }

    & a {
        height: 6rem;
        padding: 2rem;
        width: fit-content;
        font-size: 1.6rem;
        border-radius: 3rem;
        border: none;
        background: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
        color: white;
        box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem darken($colour-lightgrey, 10%);
    }
}

.fonct-items {
    background-color: blank;
    margin: 3.0rem $layout-margin 2.0rem;
    display: flex;
    flex-wrap: wrap;


    &__title {
        align-self: left;
        margin-right: 2.0rem;
    }
}

.fonct-item {
    display: flex;
    flex-direction: row;
    height: 9.0rem;
    width: 42rem;
    align-items: center;
    justify-content: left;
    border: none;
    border-radius: 2.5rem;
    background-color: $colour-lightgrey;
    color: black;
    box-shadow: 0.5rem 1.0rem 1.0rem darken($colour-lightgrey, 5%);
    font-weight: 700;
    font-size: 2.0rem;
    margin-left: 1.5rem;
    margin-bottom: 3.0rem;

    &__number {
        display: flex;
        height: 3.0rem;
        width: 3.0rem;
        border: none;
        border-radius: 50%;
        background-color: $colour-primary;
        color: white;
        align-items: center;
        justify-content: center;
        /*    z-index: 9;*/
        position: relative;
        left: -1.5rem;
    }

    &__icone {
        display: flex;
        height: 4.0rem;
        width: 3.0rem;
        align-items: center;
        justify-content: center;

        &__primary {
            color: $colour-primary;
        }
    }

    &__lib {
        font-size: 2.0rem;
        font-weight: 700;
        margin-left: 2.0rem;
    }
}

.restos {
    background-color: $colour-lightgrey;
    padding: $grid-gutter*2;

    &__title {
        padding-top: 3.0rem;
        padding-bottom: 1.0rem
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.resto-card {
    box-shadow: 0.5rem 1.0rem 1.0rem darken($colour-lightgrey, 15%);
    width: 100%;
    height: 88%;
    border-radius: 2.5rem;

    &+p {
        position: absolute;
        top: 2.0rem;
        right: 2%;
        padding: 2.0rem;
        font-weight: bold;
        width: max-content;
        background-color: #95ffff;
        color: #28a469;
        z-index: 9;
    }

    & img {
        position: relative;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 63%;
        border-radius: 2.5rem 2.5rem 0 0;
        z-index: 0;
    }

    &:hover,
    &:active {
        /*        transition:cubic-bezier(0.075, 0.82, 0.165, 1);   */
        box-shadow: 0.5rem 1.0rem 1.0rem $colour-primary;
        transform: scale(1.05);
    }

    &__pres {
        background-color: white;
        height: auto;
        border-radius: 0 0 2.5rem 2.5rem;
        padding: $grid-gutter*2;
        justify-content: left;
        color: black;

        &-name {
            font-size: 2.0rem;
            font-weight: 700;
        }

        &-place {
            font-size: 1.6rem;
            font-weight: 500;
        }

    }

    .love-btn {
        position: absolute;
        top: 90%;
        right: 5%;
        z-index: 9;
        width: 3.0rem;
        height: 3.0rem;
        font-size: 2.6rem;
        z-index: 99;
    }

}