/**** Header commun  ****/
.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;

    & a>i {
        position: absolute;
        top: 2.0rem;
        left: 2.0rem;
        font-size: 4.0rem;
        font-weight: bold;
        color: black;
        align-items: center;
    }

    
    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        &>h1 {
            font-family: Shrikhand;
            text-align: center;
        }
    }
}