/**** Header commun  ****/
.header {
    background-color: white;
    display: flex;
    flex-direction: row;

    &-logo {
        display: flex;
        padding-top: 1.0rem;
        padding-bottom: 1.0rem;
        align-items: center;
        justify-content: center;
    }

    & a>i {
        position: absolute;
        top: 2.0rem;
        left: 2.0rem;
        font-size: 4.0rem;
        font-weight: bold;
        color: black;
        align-items: center;
    }

    /**** Lien header "retour" ****/
    /*    & i {
        font-size: 4.0rem;
        position: absolute;
        top: 1.0rem;
        left: 2.0rem;
        color: black;
        align-items: center;
    }

    & a:hover {
        color: $colour-primary;
        text-decoration: none;
    }
    */
}