html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: white;
  color: black;
}

* {
  box-sizing: inherit;
  z-index: 0;
}

ol, ul, li, a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.7rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.7rem;
}

/*
.btn {
    @include btn
}
*/
.header-logo {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.nav {
  padding-right: 1rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: #f5f5f5;
}
.nav__link--active {
  color: #ff79da;
}
.nav__link--active:hover {
  cursor: default;
  color: #ff79da;
}
.nav__link a:hover {
  color: white;
}

.place-selection {
  background-color: #e8e8e8;
  /*    align-items: center;
  justify-content: center; */
}

.place-select {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  box-shadow: 0 0.4rem 0.4rem gainsboro inset;
  color: black;
  font-weight: 700;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
.place-select__icon {
  border: none;
  background-color: inherit;
}
.place-select__input {
  margin-left: 1rem;
  border: none;
  background-color: inherit;
  width: auto;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.search {
  background-color: #f5f5f5;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
}
.search-title {
  margin-top: 4rem;
  text-align: center;
  justify-content: center;
}
.search-title__t {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.7rem;
  margin-bottom: 2rem;
}
.search-title__p {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.5rem;
  color: #333;
  margin-bottom: 4rem;
}
.search a {
  height: 6rem;
  padding: 2rem;
  width: fit-content;
  font-size: 1.6rem;
  border-radius: 3rem;
  border: none;
  background: linear-gradient(to bottom right, #ff79da, #9356DC);
  color: white;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem gainsboro;
}

.fonct-items {
  background-color: blank;
  margin: 3rem 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
}
.fonct-items__title {
  align-self: left;
  margin-right: 2rem;
}

.fonct-item {
  display: flex;
  flex-direction: row;
  height: 9rem;
  width: 42rem;
  align-items: center;
  justify-content: left;
  border: none;
  border-radius: 2.5rem;
  background-color: #f5f5f5;
  color: black;
  box-shadow: 0.5rem 1rem 1rem #e8e8e8;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
}
.fonct-item__number {
  display: flex;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  align-items: center;
  justify-content: center;
  /*    z-index: 9;*/
  position: relative;
  left: -1.5rem;
}
.fonct-item__icone {
  display: flex;
  height: 4rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
}
.fonct-item__icone__primary {
  color: #9356DC;
}
.fonct-item__lib {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2rem;
}

.restos {
  background-color: #f5f5f5;
  padding: 2rem;
}
.restos__title {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.restos__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.resto-card {
  box-shadow: 0.5rem 1rem 1rem #cfcfcf;
  width: 100%;
  height: 88%;
  border-radius: 2.5rem;
}
.resto-card + p {
  position: absolute;
  top: 2rem;
  right: 2%;
  padding: 2rem;
  font-weight: bold;
  width: max-content;
  background-color: #95ffff;
  color: #28a469;
  z-index: 9;
}
.resto-card img {
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 63%;
  border-radius: 2.5rem 2.5rem 0 0;
  z-index: 0;
}
.resto-card:hover, .resto-card:active {
  /*        transition:cubic-bezier(0.075, 0.82, 0.165, 1);   */
  box-shadow: 0.5rem 1rem 1rem #9356DC;
  transform: scale(1.05);
}
.resto-card__pres {
  background-color: white;
  height: auto;
  border-radius: 0 0 2.5rem 2.5rem;
  padding: 2rem;
  justify-content: left;
  color: black;
}
.resto-card__pres-name {
  font-size: 2rem;
  font-weight: 700;
}
.resto-card__pres-place {
  font-size: 1.6rem;
  font-weight: 500;
}
.resto-card .love-btn {
  position: absolute;
  top: 90%;
  right: 5%;
  z-index: 9;
  width: 3rem;
  height: 3rem;
  font-size: 2.6rem;
  z-index: 99;
}

/*
.form {
    width: 100%;
    padding-bottom: $grid-gutter;
    &__heading {
        width: 100%;
        color: white;
        @include heading-shadow;   
        background: $colour-primary;
        line-height: 5rem;
        padding: $grid-gutter;
    }
    &__field {
        & label {
            color: $colour-accent;
            display: block;
            font-size: 2rem;
            line-height: 2rem;
            padding-top: $grid-gutter;
        }
        & input {
            width: 100%;
            background: $colour-secondary;
            @include border;
            padding: $grid-gutter;
            color: $colour-accent;
            font-weight: 900;
            font-style: italic;
            font-size: 2.75rem;
            @include border;
            background-color: $colour-secondary;
            color: $colour-primary;

        }
        & textarea {
            width: 100%;
            color: $colour-primary;
            background: $colour-secondary;
            @include border;
            outline: none;
            padding: $grid-gutter;
            margin-bottom: $grid-gutter*0.5;
        }
    }
}

*/
.quote {
  text-align: right;
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
  color: #f9f9f9;
  margin: 2rem 1rem -0.5rem 1rem;
}
.quote strong {
  color: #9356DC;
}

.proj-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}

.proj-prev {
  color: white;
  margin-bottom: 1rem;
}
.proj-prev__image {
  margin: 0;
  opacity: 0.2;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.proj-prev__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.proj-prev__heading {
  font-size: 4rem;
  padding-left: 2.5rem;
  margin: 0;
  line-height: 6rem;
}
.proj-prev__byline {
  padding-left: 2.5rem;
  font-size: 1.66rem;
}
.proj-prev:hover {
  cursor: pointer;
}
.proj-prev:hover > .proj-prev__heading {
  background: #9356DC;
}
.proj-prev:hover > .proj-prev__image {
  opacity: 1;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, auto);
  padding: 1rem;
  grid-template-areas: "imagery heading" "imagery copy" "imagery btn";
  margin-bottom: 1rem;
}
.about__heading {
  grid-area: heading;
  color: white;
  text-shadow: 0.5rem 0.5rem #782cd3;
  text-align: right;
  padding-right: 1rem;
}
.about__imagery {
  grid-area: imagery;
}
.about__pic {
  overflow: hidden;
  width: 80%;
  border-radius: 1000rem;
  border: 1.5rem solid #9356DC;
}
.about__pic img {
  display: block;
  width: 100%;
}
.about__copy {
  grid-area: copy;
}
.about__copy p {
  line-height: 2.4rem;
  margin-bottom: 2.25rem;
}
.about__btn {
  padding: 1rem;
  border: 0.1rem solid #9356DC;
  color: #9356DC;
  background: #ff79da;
  cursor: pointer;
  grid-area: btn;
}
.about__btn:hover {
  background: #9356DC;
  color: #f9f9f9;
}
.about__btn--full-width {
  width: 100%;
  margin: 0 auto;
}
.about__btn a {
  text-decoration: none;
}

.project {
  width: 100%;
  margin-bottom: 1.2rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  grid-template-areas: "image synopsis" "tags synopsis" "btn btn";
}
.project__image {
  grid-area: image;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.project__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.project__synopsis {
  grid-area: synopsis;
  padding-left: 1rem;
}
.project__synopsis h1 {
  color: white;
  text-shadow: 0.5rem 0.5rem #782cd3;
}
.project__synopsis p {
  line-height: 2.5rem;
}
.project__tags {
  grid-area: tags;
}
.project__tags p {
  color: white;
}
.project__tags p strong {
  color: #9356DC;
  font-weight: 900;
  font-style: italic;
}
.project__btn {
  padding: 1rem;
  border: 0.1rem solid #9356DC;
  color: #9356DC;
  background: #ff79da;
  cursor: pointer;
  grid-area: btn;
}
.project__btn:hover {
  background: #9356DC;
  color: #f9f9f9;
}
.project__btn--full-width {
  width: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
