@charset "UTF-8";
/**** Déroulement du spinner                     ****/
/**** Transition couleur du background-color     ****/
/**** Agrandissement du logo du site en rotation ****/
@keyframes spinner-background {
  0% {
    background-color: #ff79da;
    z-index: 1;
  }
  70% {
    background-color: #9356DC;
    z-index: 1;
  }
  100% {
    display: none;
    background-color: #9356DC;
    z-index: -1;
  }
}
@keyframes spinner-run {
  0% {
    z-index: 1;
    transform: rotate(0deg);
    font-size: 0.1rem;
  }
  80% {
    z-index: 1;
    transform: rotate(1800deg);
    font-size: 4rem;
  }
  100% {
    display: none;
    transform: rotate(1800deg);
    font-size: 0.01rem;
    z-index: -1;
    visibility: hidden;
  }
}
@keyframes love-btn-color {
  from {
    color: transparent;
    opacity: 1;
  }
  to {
    color: #9356DC;
    opacity: 1;
  }
}
@keyframes aff-fondu {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes btn-popup {
  0% {
    width: 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 20rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonct-items__grid,
.restos__grid,
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    grid-gap: 1rem;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .fonct-items__grid,
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    grid-gap: 1rem;
  }

  .restos__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    grid-gap: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .fonct-items__grid,
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    grid-gap: 1rem;
  }

  .restos__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    grid-gap: 1rem;
  }
}
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 1920px;
  position: relative;
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
  z-index: 0;
  margin: 0;
  padding: 0;
}

ol,
ul,
li,
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.7rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.7rem;
}

/*
.btn {
    @include btn
}
*/
/**** Header commun  ****/
.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header a > i {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 4rem;
  font-weight: bold;
  color: black;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo > h1 {
  font-family: Shrikhand;
  text-align: center;
}

.nav {
  padding-right: 1rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: #f5f5f5;
}
.nav__link--active {
  color: #ff79da;
}
.nav__link--active:hover {
  cursor: default;
  color: #ff79da;
}
.nav__link a:hover {
  color: white;
}

.spinner-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-name: spinner-background;
}

.spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 5rem;
  animation-duration: 5s;
  transition-timing-function: cubic-bezier(0.5, 0.5, 0.58, 1);
  animation-name: spinner-run;
}

.spinner-run {
  color: black;
  position: fixed;
}

/*****  CONTAINER DU SITE   *****/
.site-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
}

/*****  SELECTION DU LIEU   *****/
.place-selection {
  background-color: #e8e8e8;
}

.place-select {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  box-shadow: 0 0.4rem 0.4rem gainsboro inset;
  color: black;
  font-weight: 700;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
.place-select__icon {
  border: none;
  background-color: inherit;
}
.place-select__input {
  margin-left: 1rem;
  border: none;
  background-color: inherit;
  width: auto;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

/***** "SECTION DE RECHERCHE (!)" ********/
.search {
  background-color: #f5f5f5;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  animation-duration: 0.6s;
  animation-timing-function: ease;
}
.search-title {
  margin-top: 4rem;
  text-align: center;
  justify-content: center;
}
.search-title__t {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.7rem;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
}
.search-title__p {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.5rem;
  color: #333;
  margin-bottom: 4rem;
}
.search a {
  height: 6rem;
  padding: 2rem;
  width: 26rem;
  text-align: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 3rem;
  border: none;
  background: linear-gradient(to bottom right, #ff79da, #9356DC);
  color: white;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem gainsboro;
}
.search a:hover, .search a:active {
  background: linear-gradient(to top left, #ff79da, #9356DC);
  box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem #6023a9;
}

/******* FONCTIONNEMENT DU SITE  *******/
.fonct-items {
  background-color: blank;
  margin: 3rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 1rem;
}
.fonct-items__title {
  align-self: left;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
}

.fonct-item {
  display: flex;
  flex-direction: row;
  height: 9rem;
  max-width: 42rem;
  align-items: center;
  justify-content: left;
  border: none;
  border-radius: 2.5rem;
  background-color: #f5f5f5;
  color: black;
  box-shadow: 0.5rem 1rem 1rem #e8e8e8;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  animation-duration: 0.4s;
  animation-timing-function: ease;
}
.fonct-item__number {
  display: flex;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -1.5rem;
}
.fonct-item__icone {
  display: flex;
  height: 4rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
}
.fonct-item__icone__primary {
  color: #9356DC;
}
.fonct-item__lib {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2rem;
}
.fonct-item:hover, .fonct-item:active, .fonct-item:visited {
  background-color: #fface8;
  box-shadow: 0.5rem 2rem 2rem #9356DC;
}

/******   AFFICHAGE / SELECTION DES RESTAURANTS  *******/
.restos {
  display: flex;
  flex-flow: column;
  background-color: #f5f5f5;
  padding: 2rem;
  grid-gap: 1rem;
}
.restos__title {
  letter-spacing: -0.1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.resto-card {
  position: relative;
  box-shadow: 0.3rem 0.5rem 1rem #cfcfcf;
  border-radius: 2rem;
  margin-bottom: 3rem;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.resto-card:hover, .resto-card:active {
  box-shadow: 0.5rem 1rem 1rem #9356DC;
  transform: scale(1.02);
}
.resto-card a {
  text-decoration: none;
  outline: none;
}
.resto-card img {
  width: 100%;
  height: 21rem;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}
.resto-card a > p {
  position: absolute;
  top: 2rem;
  right: 2%;
  padding: 1rem;
  font-weight: bold;
  width: max-content;
  background-color: #99e2d0;
  color: #28a469;
}
.resto-card__pres {
  background-color: white;
  height: auto;
  border-radius: 0 0 2rem 2rem;
  padding: 1.5rem;
  color: black;
}
.resto-card__pres-name {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.resto-card__pres-place {
  font-size: 2rem;
  font-weight: 500;
}
.resto-card .love-btn {
  position: absolute;
  bottom: 3.5rem;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #fff;
  line-height: 3rem;
  font-size: 3rem;
  cursor: pointer;
}

/*******   SELECTION RESTAURANT(S) FAVORI(S)   ********/
.love-btn {
  position: relative;
  opacity: 1;
}
.love-btn i:nth-child(2) {
  opacity: 0;
  top: 0%;
  left: 0%;
  position: absolute;
  transition: opacity 2s cubic-bezier(0.3, 0.82, 0.165, 1);
  color: #9356DC;
}
.love-btn:hover i:nth-child(2) {
  opacity: 1;
}

/****** Footer : menu de bas de page ******/
footer {
  background-color: #353535;
  padding: 3rem;
}
footer h3 {
  font-family: "Shrikhand", serif, sans-serif;
  font-size: 2.2rem;
  color: white;
  margin-bottom: 2rem;
}
footer ul {
  list-style: none;
  color: #fff;
}
footer ul li {
  text-decoration: none;
  margin: 1rem 0;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
}
footer ul li a:hover, footer ul li a:active {
  cursor: pointer;
  color: #9356DC;
  text-transform: uppercase;
  transform: scale(1.05);
}
footer ul li a i {
  height: 2rem;
  width: 5rem;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
}

/*  Header  */
.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.top > a {
  position: absolute;
  left: 2rem;
  font-size: 2rem;
}
.top > h1 {
  font-family: Shrikhand;
  text-align: center;
}

/* section entête */
.entete {
  position: relative;
  width: 100%;
  height: 36rem;
  align-items: center;
}
.entete img {
  width: 100%;
  height: 36rem;
  object-fit: cover;
}
.entete-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem 1rem;
  border-radius: 3rem 3rem 0 0;
  font-family: "Shrikhand";
  font-size: 3rem;
}
@media screen and (max-width: 360px) {
  .entete-txt {
    font-size: 2.5rem;
    text-wrap: wrap;
  }
}
.entete-txt .love-btn {
  position: absolute;
  bottom: 1.5rem;
  right: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
  font-size: 3rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #f5f5f5;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  .entete-txt .love-btn {
    position: absolute;
    bottom: 1rem;
    font-size: 2.5rem;
  }
}

/****   Section menu   ****/
.menu {
  background-color: #f5f5f5;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /*  Partie du menu  */
}
.menu-part {
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  animation: aff-fondu 1.5s 0.5s ease-in-out both;
  /* card plat */
}
.menu-part:nth-of-type(1) {
  animation-delay: 0.3s;
}
.menu-part:nth-of-type(2) {
  animation-delay: 0.6s;
}
.menu-part:nth-of-type(3) {
  animation-delay: 0.9s;
}
.menu-part__titre {
  padding-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
}
.menu-part__titre hr {
  height: 0.4rem;
  width: 5rem;
  background-color: #99e2d0;
  border: none;
}
.menu-part__plat {
  flex-flow: row nowrap;
  align-content: flex-start;
  overflow: hidden;
  border-radius: 1.5rem;
  width: 100%;
  /* max-width: 42.0rem; */
  height: 7rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem 0.5rem #cfcfcf;
  animation: aff-fondu 1.5s 0.5s ease-in-out both;
}
.menu-part__plat:nth-of-type(1) {
  animation-delay: 0.2s;
}
.menu-part__plat:nth-of-type(2) {
  animation-delay: 0.4s;
}
.menu-part__plat:nth-of-type(3) {
  animation-delay: 0.6s;
}
.menu-part__plat-txt {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  line-height: 2.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
.menu-part__plat-txt-t {
  display: flex;
  width: 100%;
  padding-right: 1.5rem;
}
.menu-part__plat-txt-t h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-part__plat-txt-d {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}
.menu-part__plat-txt-d p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-part__plat-txt-d span {
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 0.5rem;
  padding-right: 1.5rem;
}
.menu-part__plat-check {
  position: absolute;
  bottom: 0;
  right: -7rem;
  display: flex;
  height: 100%;
  width: 7rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #99e2d0;
}

.menu-part__plat:hover {
  cursor: grab;
}
.menu-part__plat:hover .menu-part__plat-txt {
  transition: all 2s ease-in-out;
}
@media screen and (max-width: 321px) {
  .menu-part__plat:hover .menu-part__plat-txt {
    width: 70%;
  }
}
@media screen and (max-width: 421px) {
  .menu-part__plat:hover .menu-part__plat-txt {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .menu-part__plat:hover .menu-part__plat-txt {
    width: 80%;
  }
}
@media screen and (min-width: 481px) {
  .menu-part__plat:hover .menu-part__plat-txt {
    width: 88%;
  }
}
.menu-part__plat:hover .menu-part__plat-check {
  transform: translateX(-7rem);
  transition: transform ease-in-out 2s;
}
.menu-part__plat:hover .menu-part__plat-check i {
  transform: rotate(360deg);
  transition-delay: 0.5s;
  transition: transform ease-in-out 2s;
}

.commander {
  animation-delay: 3s;
  animation: btn-popup cubic-bezier(0.8, 0.02, 0.42, 1) 3s both;
}

/*# sourceMappingURL=style.css.map */
