@charset "UTF-8";
/**** Déroulement du spinner                     ****/
/**** Transition du background-color en rotaton  ****/
/**** Agrandissement du logo du site en rotation ****/
@keyframes spinner-container {
  0% {
    background-color: #ff79da;
    z-index: 1;
  }
  99% {
    z-index: 1;
    background-color: #9356DC;
  }
  100% {
    z-index: -1;
    display: none;
  }
}
@keyframes spinner-run {
  0% {
    visibility: visible;
    transform: rotate(0deg);
    text-align: center;
    font-size: 0.1rem;
  }
  100% {
    visibility: visible;
    transform: rotate(1800deg);
    font-size: 2.5em;
  }
  100% {
    z-index: -1;
    display: none;
  }
}
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 1920px;
  position: relative;
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
  z-index: 0;
  margin: 0;
  padding: 0;
}

ol,
ul,
li,
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.spinner {
  font-family: "Shrikhand", serif, sans-serif;
  color: black;
}

h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.7rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.7rem;
}

/*
.btn {
    @include btn
}
*/
.header-logo {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.nav {
  padding-right: 1rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: #f5f5f5;
}
.nav__link--active {
  color: #ff79da;
}
.nav__link--active:hover {
  cursor: default;
  color: #ff79da;
}
.nav__link a:hover {
  color: white;
}

.spinner-container {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-name: spinner-container;
}

.spinner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-run {
  position: fixed;
  width: 0.2rem;
  height: 0.2rem;
  color: black;
  animation-duration: 5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0.5s;
  transform-origin: center center;
  animation-name: spinner-run;
  visibility: hidden;
}

/*****  SELECTION DU LIEU   *****/
.place-selection {
  background-color: #e8e8e8;
}

.place-select {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  box-shadow: 0 0.4rem 0.4rem gainsboro inset;
  color: black;
  font-weight: 700;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
.place-select__icon {
  border: none;
  background-color: inherit;
}
.place-select__input {
  margin-left: 1rem;
  border: none;
  background-color: inherit;
  width: auto;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

/***** "SECTION DE RECHERCHE (!)" ********/
.search {
  background-color: #f5f5f5;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-name: search;
}
.search-title {
  margin-top: 4rem;
  text-align: center;
  justify-content: center;
}
.search-title__t {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.7rem;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
}
.search-title__p {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.5rem;
  color: #333;
  margin-bottom: 4rem;
}
.search a {
  height: 6rem;
  padding: 2rem;
  width: fit-content;
  font-size: 1.6rem;
  border-radius: 3rem;
  border: none;
  background: linear-gradient(to bottom right, #ff79da, #9356DC);
  color: white;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem gainsboro;
}
.search a:hover, .search a:active {
  background: linear-gradient(to top left, #ff79da, #9356DC);
  box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem #301255;
}

/******* FONCTIONNEMENT DU SITE  *******/
.fonct-items {
  background-color: blank;
  margin: 3rem 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
}
.fonct-items__title {
  align-self: left;
  letter-spacing: -0.1rem;
  margin-right: 2rem;
}

.fonct-item {
  display: flex;
  flex-direction: row;
  height: 9rem;
  width: 42rem;
  align-items: center;
  justify-content: left;
  border: none;
  border-radius: 2.5rem;
  background-color: #f5f5f5;
  color: black;
  box-shadow: 0.5rem 1rem 1rem #e8e8e8;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}
.fonct-item__number {
  display: flex;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  align-items: center;
  justify-content: center;
  /*    z-index: 9;*/
  position: relative;
  left: -1.5rem;
}
.fonct-item__icone {
  display: flex;
  height: 4rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
}
.fonct-item__icone__primary {
  color: #9356DC;
}
.fonct-item__lib {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2rem;
}
.fonct-item:hover, .fonct-item:active, .fonct-item:visited {
  background-color: #fface8;
  box-shadow: 0.5rem 2rem 2rem #9356DC;
}

/******   AFFICHAGE / SELECTION DES RESTAURANTS  *******/
.restos {
  display: flex;
  flex-flow: column nowrap;
  background-color: #f5f5f5;
  padding: 2rem;
}
.restos__title {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.resto-card {
  position: relative;
  box-shadow: 0.3rem 0.5rem 1rem #cfcfcf;
  border-radius: 2rem;
  margin-bottom: 3rem;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.resto-card:hover, .resto-card:active {
  box-shadow: 0.5rem 1rem 1rem #9356DC;
  transform: scale(1.02);
}
.resto-card a {
  text-decoration: none;
  outline: none;
}
.resto-card img {
  width: 100%;
  height: 21rem;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}
.resto-card a > p {
  position: absolute;
  top: 2rem;
  right: 2%;
  padding: 1rem;
  font-weight: bold;
  width: max-content;
  background-color: #95ffff;
  color: #28a469;
}
.resto-card__pres {
  background-color: white;
  height: auto;
  border-radius: 0 0 2rem 2rem;
  padding: 1.5rem;
  color: black;
}
.resto-card__pres-name {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.resto-card__pres-place {
  font-size: 2rem;
  font-weight: 500;
}
.resto-card .love-btn {
  position: absolute;
  bottom: 3.5rem;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #fff;
  font-size: 3rem;
  cursor: pointer;
}
.resto-card .love-btn:hover i:nth-child(1) {
  opacity: 0;
}
.resto-card .love-btn:hover i:nth-child(2) {
  opacity: 1;
}

/*******   SELECTION RESTAURANT(S) FAVORI(S)   ********/
.love-btn i {
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: color 2s cubic-bezier(0.3, 0.82, 0.165, 1);
}
.love-btn i:nth-child(2) {
  opacity: 0;
  background-size: 300%;
  top: 0%;
  left: 0%;
  position: absolute;
  background: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
            &::before {
            content: "\f004";   
            font-weight: bold;
            transition: color 2s  cubic-bezier(0.3, 0.82, 0.165, 1);
        }

        &:hover::before {
            color: red;
            cursor: pointer;
        }
    }
*/
/****** Footer : menu de bas de page ******/
footer {
  background-color: #353535;
  padding: 3rem;
}
footer h3 {
  font-family: "Shrikhand", serif, sans-serif;
  font-size: 2.2rem;
  color: white;
  margin-bottom: 2rem;
}
footer ul {
  list-style: none;
  color: #fff;
}
footer ul li {
  text-decoration: none;
  margin: 1rem 0;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
}
footer ul li a:hover, footer ul li a:active {
  cursor: pointer;
  color: #9356DC;
  text-transform: uppercase;
  transform: scale(1.05);
}
footer ul li a i {
  height: 2rem;
  width: 5rem;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
