html {
    // 10px div by def of 16px
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: white;
    color: black;
}

* {
    box-sizing: inherit;
    z-index: 0;
}

ol, ul, li, a {
    text-decoration: none;
    color: black;
}