/**** Déroulement du spinner                     ****/
/**** Transition couleur du background-color     ****/
/**** Agrandissement du logo du site en rotation ****/

@keyframes spinner-background {
    0% {
        background-color: $colour-secondary;
        z-index: 1;
    }

    70% {
        background-color: $colour-primary;
        z-index: 1;
    }

    100% {
        display: none;
        background-color: $colour-primary;
        z-index: -1;
    }
}

@keyframes spinner-run {
    0% {
        z-index: 1;
        transform: rotate(0deg);
        font-size: 0.1rem;
    }

    80% {
        z-index: 1;
        transform: rotate(1800deg);
        font-size: 4.0rem;
    }

    100% {
        display: none;
        transform: rotate(1800deg);
        font-size: 0.01rem;
        z-index: -1;
        visibility: hidden;
    }
}

@keyframes love-btn-color {
    from {
        color: transparent;
        opacity: 1;
    }

    to {
        color: $colour-primary;
        opacity: 1;
    }
}

@keyframes aff-fondu {
    0% {
        transform: translateY(2.0rem);
        opacity: 0;
    }

    75% {
        transform: translateY(0);
    }


    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes btn-popup {
    0% {
        width: 100%;
        opacity: 0;
    }

    100% {
        opacity: 1;
        width: 20.0rem;
    }
}
