$colour-primary: #9356DC;
$colour-secondary: #ff79da;
$colour-tertiaire: #99e2d0;
$colour-lightgrey:#f2f2f2;
$colour-accent: #f9f9f9;
$colour-invalid: #DB464B;

$layout-margin: 1rem;
$grid-gutter: .5rem;
$heading-shadow-size: .5rem;